@import url('https://fonts.googleapis.com/css2?family=Inter&family=Poppins:wght@500&display=swap');

body {
	font-family: 'Poppins', sans-serif;
    /* font-family: 'Inter', sans-serif; */
}

/* --------------------
    header style start
    --------------------  */
header nav span {
	margin-left: 99px;
	font-size: 24px;
}

header {
	margin-bottom: 30px;
	margin-top: 50px;
}

/* --------------------
    header style end 
    --------------------  */


/* --------------------
  first section start
    --------------------  */

/* .container {
    width: 90%;
  margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
} */
.content-box h1 {
	font-size: 52px;
	color: #3A3A3A;
	font-family: 'Poppins';
	font-weight: bold;
}

.container {
	margin-top: 23px;
	width: 85%;
	margin: auto;
	display: grid;
	grid-template-columns: 1fr 1fr;
	justify-items: end;
	align-items: center;
}

.content-box p {
	margin: 0px;
	margin-bottom: 30px;
	color: #3A3A3A;
	font-size: 16px;
}

.content-box a {
	text-decoration: none;
	background: #E02C6D;
	padding: 10px 24px;
	border-radius: 41px;
	color: white;
	font-size: 16px;
	font-weight: 700;
	font-family: 'Poppins';
}

.content-box i {
	padding-left: 10px;
	font-size: 14px;
}

.img-box {
	padding-right: 20px;
}
/* --------------------
  first section end
    --------------------  */

    /* --------------------
  Popular Collection section start
    --------------------  */

.title-bar {

    text-align: center;
    margin-bottom: 100px;
    margin-top: 150px;
}
.ful-contanier {
    width: 75%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 25px;
}

.box-contanier {
    padding: 15px;
    box-shadow: 3px 3px 25px #888888;
    margin-bottom: 25px;
    border-radius: 5px;
}
.box-contanier .img-box-style img {
    width: 100%;
    margin-bottom: 6px;
}
.content-box-title h3 {
    margin: 0px;
    font-size: 24px;
    font-weight: 100;
    line-height: 161%;
}
.icon-box span i {
    font-size: 10px;
    padding: 0;
    margin: 0;
    color: #FB8200;
}
.icon-box span small {
    font-size: 14px;
    font-weight: bold;
    color: #5E6366;
    padding-left: 5px;
}
.icon-box p {
    font-size: 14px;
    color: #787885;
    font-weight: bold;
    font-family: Inter;
    line-height: 20px;
    margin-bottom: 0px;
}
small.link-see-more a {
  
    float: right;
    margin-right: 170px;
    color: rgba(224, 44, 109, 0.87);
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    margin-top: 15px;
}
small.link-see-more i {
    padding-left: 10px;
    font-size: 16px;
}
    /* --------------------
  Popular Collection section end 
    --------------------  */



  /* --------------------
   about  section start
    --------------------  */
    .title-bar.basic-title-bar {
        text-align: center;
      
        margin: 0;
        margin-top: 110px;
        margin-bottom: 50px;
    }

    /* start table  */
    #castom-table {

        /* margin: auto; */
        font-family: Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 95%;
        
      }
      
      #castom-table td, #castom-table th {
        border: 1px solid #ddd;
        padding: 8px;
      }
      
      #castom-table tr:nth-child(even){background-color: #f2f2f2;}
      
      #castom-table tr:hover {background-color: #ddd;}
      
      #castom-table th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: rgb(34, 214, 190);
        color: white;
      }
   /* basic table end  */

      .about-contanier {
        width: 90%;
        margin: auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 30px;
    }
    .title-bar.product-name {
        text-align: center;
        margin-top: 0px;
        margin-bottom: 0;
        color: dimgrey;
        padding: 0px;
     
    }

    /* start img css  */
    
.top-players {
	margin-bottom: 30px;
}



.players {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 30px;
    margin-left: 40px;
    margin-top: 70px;
}

.player {
	display: flex;
	align-items: center;


}

.player img {
	width: 56px;
	height: 56px;

}

.player-name {
	margin-left: 16px;
	font-size: 18px;
}



    /* --------------------
  footer section start
    --------------------  */
    footer{
        width: 100%;
    }
    .footer-contanire {
        margin-top: 100px;
        width: 100%;
        height: 240px;
        text-align: center;
        background: #0A0826;
        color: white;
       
    }
    .footer-box h3 {
        padding-top: 60px;
        margin: 0px;
        padding-bottom: 10px;
    }
     
    .footer-box p {
        font-size: 14px;
       
        color: #D9DBE1;
        margin: 0px;
        padding: 0px;
        font-weight: 700;
    }
    .footer-box small {
        font-size: 14px;
        font-weight: 700;
        color: #D9DBE1;
      
    }
    .footer-icon {
        padding-top: 10px;
    }
    .footer-icon i {
        font-size: 20px;
        padding: 5px;
        background: #3f3a78;
        border-radius: 50%;
      
    }



   

    /* mobile devices start */


    @media only screen and (max-width:688px) {
		
		header nav span{
            text-align: center;
        }
		

	
		
            .container {
            padding: 0 20px;
                width: 90%;
               
                grid-template-columns: 1fr;
                align-items: center;

           
            
            }
            .content-box h2 
             {
                width: 100%;
            }
            .content-box p{
                width: 100%;

            }
/* respn mobail strat section 2  */

            .ful-contanier{
                width: 90%;
                padding: 0 20px;
                grid-template-columns: repeat(1,1fr);
            }
    
         
            .box-contanier{
                flex-direction: column;
                align-items: center;}
                .box-contanier .img-box-style img{
                    width: 100%;
                }
                .box-contanier .content-box-title {
                   width: 100%;
                   
               }
               .box-contanier .icon-box {
                   width: 100%;
               }

   /* section 3 start  */

   .about-contanier{
   
        width: 90%;
        padding: 0 10px;
        grid-template-columns: repeat(1,1fr);
    }
    .about-table{
        align-items: center;
        width: 100%;

    }
    #castom-table{
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .about-img{
        width: 100%;
    }
       
    .player{
        grid-template-columns: repeat(1,1fr);
        align-items: center;

    } 
     .container{
        width: 90%;
        padding: 0 20px;
    } 
    .players{
        grid-template-columns: 1fr 1fr;

    }
    .player{
        flex-direction: column;
    }
    /* blog start */
    .top-blogs{
        width: 90%;
        padding: 0 20px;
    }
    footer{
        width: 100%;
    }
    .footer-contanire{
        width: 100%;
     
    }
    .link-see-more{
        left: right;
        margin: 0px;
        padding: 0px;
    }


    }

    /* table devices  */

    @media only screen and (min-width:688px) and (max-with:992px) {
        .container{
            width: 100%;
        }
        .ful-contanier {
            width: 75%;
         
            grid-template-columns:  1fr 1fr;
            grid-column-gap: 15px;
        }
      

    }