@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

body{
    font-family: 'Poppins', sans-serif;
}
 /* --------------------
    header style start
    --------------------  */
header nav span {
    margin-left: 99px;
    font-size: 24px;
}

  /* --------------------
    header style end 
    --------------------  */


  /* --------------------
  first section start
    --------------------  */

/* .container {
    width: 90%;
  margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
} */
.content-box h1 {
    font-size: 52px;
    color: #3A3A3A;
    font-family: 'Poppins';
    font-weight: bold;
}
.container {
    margin-top: 23px;
    width: 85%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: end;
    align-items: center;
}
.content-box p {
    margin: 0px;
    margin-bottom: 30px;
    color: #3A3A3A;
    font-size: 16px;
}
.content-box a {
    text-decoration: none;
    background: #E02C6D;
    padding: 10px 24px;
    border-radius: 41px;
    color: white;
    font-size: 16px;
    font-weight: 700;
    font-family: 'Poppins';
}
.content-box i {
    padding-left: 10px;
    font-size: 14px;
}